<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/rio');">
  <div class="banner-content">
    <h1>Welcome Home</h1>
    <p>Book unique homes and experience a city like a local.</p>
    <form action="#" class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control input-lg" id="where" placeholder="Where?">
      </div>
      <div class="form-group">
        <input type="date" class="form-control input-lg" id="when" placeholder="When?">
      </div>
      <div class="form-group">
        <select id="guests" class="form-control input-lg">
          <option>1 guest</option>
          <option>2 guests</option>
          <option>3 guests</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Start now</button>
    </form>
  </div>
</div>
